.featuredSolutions {
    background-image: url('/assets/background/featured-back.jpeg');
    font-family: "Clash Grotesk", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    position: relative;
    z-index: 2;
    max-width: 1200px;
    padding: 4rem 1rem;
  }
  
  .textSection {
    padding: 2rem;
  }
  
  .textSection h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2a2a2a;
  }
  
  .textSection p {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin-top: 0.5rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000; 
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
    margin-top: 0.5rem;
  }
  
  .icon {
    width: 45px;
    height: auto;
    margin-bottom: 8px;
    
  }

  .blueLine {
    width: 0;
    height: 4px;
    background-color: #007bff;
    margin-top: 10px;
    border-radius: 2px;
    animation: expandLine 3s ease-out forwards;
  }
  
  @keyframes expandLine {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }